<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cursodeandroid.sintesedeproteina">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SinteseDeProteina">
        <activity
            android:name=".activity.Exercicios"
            android:exported="true" />
        <activity
            android:name=".activity.ConteudoProteina"
            android:exported="true" />
        <activity
            android:name=".activity.ConteudoTraducao"
            android:exported="true" />
        <activity
            android:name=".activity.ConteudoTranscricao"
            android:exported="true" />
        <activity
            android:name=".activity.ConteudoDuplicacao"
            android:exported="true" />
        <activity
            android:name=".activity.ConteudoAcidos"
            android:exported="true" />
        <activity
            android:name=".activity.TelaConteudoDuplicacao"
            android:exported="true" />
        <activity
            android:name=".activity.TelaQuestionarioResultado"
            android:exported="true" />
        <activity
            android:name=".activity.TelaQuestionario"
            android:exported="true" />
        <activity
            android:name=".activity.TelaConteudo"
            android:exported="true" />
        <activity
            android:name=".activity.TelaInicial"
            android:exported="true" />
        <activity
            android:name=".activity.TelaTraducao"
            android:exported="true" />
        <activity
            android:name=".activity.TelaPrincipal"
            android:exported="true" />
        <activity
            android:name=".activity.TelaTranscricao"
            android:exported="true" />
        <activity
            android:name=".activity.TelaDuplicação"
            android:exported="true" />
        <activity
            android:name=".activity.TelaSplash"
            android:screenOrientation="sensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>