<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cursodeandroid.sintesedeproteina">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SinteseDeProteina">
        <activity
            android:name=".TelaInicial"
            android:exported="true" />
        <activity
            android:name=".TelaTraducao"
            android:exported="true" />
        <activity
            android:name=".TelaPrincipal"
            android:exported="true" />
        <activity
            android:name=".TelaTranscricao"
            android:exported="true" />
        <activity
            android:name=".TelaDuplicação"
            android:exported="true" />
        <activity
            android:name=".TelaSplash"
            android:screenOrientation="sensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>